<h1><%= "#{@blogger.name}'s Profile" %></h1>
<hr>

<h3>Total Likes:</h3>
<%= @blogger.total_likes %>

<h3>Featured Post:</h3>
<% @blogger.featured_post.each do |post| %>
    <li><%= link_to post.title, post %></li>
<% end %>